/*!
 * This file is part of the Web3 Library developed by mFactory GmbH.
 *
 * Copyright © 2021, mFactory GmbH
 *
 * Solana Reference Stake Pool is free software: you can redistribute it
 * and/or modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Solana Reference Stake Pool is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.
 * If not, see <https://www.gnu.org/licenses/agpl-3.0.html>.
 *
 * You can be released from the requirements of the Affero GNU General Public License
 * by purchasing a commercial license. The purchase of such a license is
 * mandatory as soon as you develop commercial activities using the
 * Solana Reference Stake Pool code without disclosing the source code of
 * your own applications.
 *
 * The developer of this program can be contacted at <info@mfactory.ch>.
 */

.staking-header {
  background: #fff;
  font-family: $font-secondary;
  &__top {
    position: relative;
    z-index: 1;
    @media (max-width: $breakpoint-xs) {
      margin-bottom: 40px;
    }
  }
  &__faq-btn {
    cursor: pointer;
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
  }
  &__main {
    background: $primary;
  }
  &__logo {
    margin-top: -75px;
    // margin-top: -86px;
    // margin-left: -28px;
  }
  &__btn {
    @media (max-width: $breakpoint-sm) {
      margin-top: 16px;
    }
  }
  &__beta {
    font-weight: 7;
    font-size: 19px;
    line-height: 22px;
    text-transform: uppercase;
    color: #E60000;
    margin-top: -125px;
    margin-left: -15px;
    @media (max-width: 340px) {
      font-size: 15px;
    }
  }
}

// Dark mode

body.body--dark {
  .staking-header {
    background: $primary;
  }
}
