/*!
 * This file is part of the Web3 Library developed by mFactory GmbH.
 *
 * Copyright © 2021, mFactory GmbH
 *
 * Solana Reference Stake Pool is free software: you can redistribute it
 * and/or modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Solana Reference Stake Pool is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.
 * If not, see <https://www.gnu.org/licenses/agpl-3.0.html>.
 *
 * You can be released from the requirements of the Affero GNU General Public License
 * by purchasing a commercial license. The purchase of such a license is
 * mandatory as soon as you develop commercial activities using the
 * Solana Reference Stake Pool code without disclosing the source code of
 * your own applications.
 *
 * The developer of this program can be contacted at <info@mfactory.ch>.
 */

.staking-header {
  background: #fff;
  font-family: $font-secondary;
  &__top {
    position: relative;
    min-height: 48px;
    background: $primary;
    // background-color: #fff;
    @media (max-width: $breakpoint-sm) {
      margin-bottom: -10px;
    }
  }
  &__faq-btn {
    cursor: pointer;
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    // color: $text-black;
    color: $text-white;
  }
  &__main {
    background: $primary;
    min-height: 94px;
  }
  &__logo {
    margin-top: -55px;
    @media (max-width: $breakpoint-sm) {
      margin-top: -3px;
      height: 95px;
    }
    @media (max-width: $breakpoint-xs) {
      margin-top: 0;
      height: 70px;
    }
  }
  &__beta {
    font-weight: 7;
    font-size: 10px;
    line-height: 13px;
    padding: 1px 10px;
    text-transform: uppercase;
    margin-top: -115px;
    margin-left: -15px;
    margin-right: -125px;
    font-weight: 500;
    font-family: $font-secondary;
    @media (max-width: $breakpoint-sm) {
      margin-top: -75px;
      margin-left: -18px;
      font-size: 8px;
      padding: 1px 8px;
    }
  }
  &__btn {
    button {
      width: 173px;
      @media (max-width: $breakpoint-xs) {
        width: 137px;
        padding: 4px 10px;
        font-size: 12px;
      }
    }
  }
  .total-validators-nxs {
    @media (max-width: 409px) {
      display: none;
    }
  }
  .total-validators-xs {
    @media (min-width: 410px) {
      display: none;
    }
  }
}

// Dark mode

body.body--dark {
  .staking-header {
    background: $primary;
    // &__faq-btn {
    //   color: $text-white;
    // }
    // &__top {
    //   background-color: $primary;
    // }
  }
  .q-menu--dark {
    background: $gray-dark-theme;
  }
}
