/*!
 * This file is part of the Web3 Library developed by mFactory GmbH.
 *
 * Copyright © 2021, mFactory GmbH
 *
 * Solana Reference Stake Pool is free software: you can redistribute it
 * and/or modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Solana Reference Stake Pool is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.
 * If not, see <https://www.gnu.org/licenses/agpl-3.0.html>.
 *
 * You can be released from the requirements of the Affero GNU General Public License
 * by purchasing a commercial license. The purchase of such a license is
 * mandatory as soon as you develop commercial activities using the
 * Solana Reference Stake Pool code without disclosing the source code of
 * your own applications.
 *
 * The developer of this program can be contacted at <info@mfactory.ch>.
 */


.my-stake {
  min-height: 100px;

  &__refresh-btn {
    height: 30px !important;
  }

  .q-btn {
    font-weight: 400;
    padding: 7px 14px 5px;
  }

  .q-badge {
    font-size: 11px;
    padding-top: 4px;
    text-transform: uppercase;
    justify-content: center;
  }

  &__state {
    width: 100px;
  }

  .q-item__section {
    margin-top: 8px;
  }

  &__address {
    font-size: 12px;
    color: $gray;

    .q-btn {
      padding: 6px 6px;
    }
  }

  .q-item {
    flex-wrap: wrap;
  }

  &__total-stats {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 -16px;
    padding: 16px;
    @media (max-width: $breakpoint-sm) {
      padding-bottom: 0;
    }
    &__logo {
      width: 38px;
      height: 30px;
    }
  }

  &__index {
    width: 26px;
    height: 26px;
    border-radius: 50px;
    background: $gray-inactive;
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 16px;
    color: $text-white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;

    &--active {
      background: $secondary;
    }

    &--deactivating {
      background: $primary;
    }

    &--inactive {
      background: $gray-inactive;
    }

    &--activating {
      background: $accent;
    }
  }

  &__sol {
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #000000;
  }

  &__usd {
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $gray;
  }

  .q-btn {
    height: 36px;
  }
  &__btns {
    width: 300px;
    padding-right: 0;

    .q-btn {
      min-width: 50%;
    }
    @media (max-width: $breakpoint-xs) {
      margin-bottom: 8px;
    }
  }
  &__btns-diff {
    display: flex;
    justify-content: flex-end;
    @media (max-width: $breakpoint-xs) {
      flex-direction: column;
      margin-top: 8px;
      width: 100%;
    }
    .q-btn {
      min-width: 140px;
      &:not(:last-child) {
        margin-right: 8px;
        @media (max-width: $breakpoint-xs) {
          margin-right: 0;
          margin-bottom: 8px;
        }
      }
    }
  }
  &__epoch-info {
    color: $primary;
    font-size: 12px;
    &__row {
      display: flex;
      &:first-child {
        border-bottom: 1px solid $primary;
      }

      >div {
        padding: 0 8px;
        text-align: left;
        width: 40px;
        &:first-child {
          border-right: 1px solid $primary;
          text-align: right;
          width: 123px;
        }
      }
    }
  }

  &__btn-badge {
    position: absolute;
    top: -10px;
    right: 15px;
    border-radius: 5px;
    height: 16px;
    width: 45px;
  }
}

.stake-stats {
  &:not(:first-child) {
    @media (min-width: $breakpoint-sm) {
      border-left: 1px solid $primary;
    }
  }
  &:not(:last-child) {
    @media (max-width: $breakpoint-sm) {
      margin-bottom: 16px;
    }
  }
  &__title {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }
  &__values {
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    &__sol {
      color: #000;
    }
    &__usd {
      color: $primary;
    }
  }
}

// Dark mode

body.body--dark {
  .my-stake {
    .wallet-balance {
      &__head {
        background: $gray-dark-theme;
        color: $text-white;
      }
    }
    &__list {
      border-top: 1px solid $text-white;
    }
    &__total-stats {
      box-shadow: none;
      background: linear-gradient(107.48deg, #FCFCFC 2%, #FFFFFF 97.35%);
    }
    &__address {
      color: $text-white;
    }
    &__sol {
      color: $text-white;
    }
    &__usd {
      color: $text-white;
    }
  }
  .q-card--dark {
    background: $gray-dark-theme;
  }
}