/*!
 * This file is part of the Web3 Library developed by mFactory GmbH.
 *
 * Copyright © 2021, mFactory GmbH
 *
 * Solana Reference Stake Pool is free software: you can redistribute it
 * and/or modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Solana Reference Stake Pool is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.
 * If not, see <https://www.gnu.org/licenses/agpl-3.0.html>.
 *
 * You can be released from the requirements of the Affero GNU General Public License
 * by purchasing a commercial license. The purchase of such a license is
 * mandatory as soon as you develop commercial activities using the
 * Solana Reference Stake Pool code without disclosing the source code of
 * your own applications.
 *
 * The developer of this program can be contacted at <info@mfactory.ch>.
 */

.main-section {
  width: 470px;
  max-width: 100%;

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 12px;
    background: #F2F2F2;
    padding: 10px 14px;
    flex-grow: 1;
    border: 1px solid #F2F2F2;

    &--epoch {
      margin-left: 8px;
      @media (min-width: 440px) {
        margin-right: 8px;
      }
    }
  }
}

// Dark mode

body.body--dark {
  .main-section {
    .q-card--dark {
      background: $gray-dark-theme;
    }
    &__block {
      background: $gray-dark-theme;
      border: 1px solid $text-white;
    }
  }
}