/*!
 * This file is part of the Web3 Library developed by mFactory GmbH.
 *
 * Copyright © 2021, mFactory GmbH
 *
 * Solana Reference Stake Pool is free software: you can redistribute it
 * and/or modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Solana Reference Stake Pool is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.
 * If not, see <https://www.gnu.org/licenses/agpl-3.0.html>.
 *
 * You can be released from the requirements of the Affero GNU General Public License
 * by purchasing a commercial license. The purchase of such a license is
 * mandatory as soon as you develop commercial activities using the
 * Solana Reference Stake Pool code without disclosing the source code of
 * your own applications.
 *
 * The developer of this program can be contacted at <info@mfactory.ch>.
 */

.main-section {
  padding: 24px 0;

  &__rect-btn,
  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 12px;
    height: 105px !important;
    background: linear-gradient(107.48deg, #fcfcfc 2%, #ffffff 97.35%);
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%),
      0 3px 1px -2px rgb(0 0 0 / 12%);
  }

  &__rect-btn {
    width: 100px;

    &--logo {
      background: none;
      box-shadow: none;

      svg {
        width: 77px;
        height: 59px;
      }

      @media (max-width: $breakpoint-sm) {
        display: none;
      }
    }
  }

  &__faq-title {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 8px;
  }
}

.stakes-section {
  padding: 24px 0;
}

$faq-text: #000;
.faq-section {
  color: $faq-text;
  margin-bottom: 2px;
  &__title {
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 30px;
  }

  &__item {
    padding: 20px 32px;
    border: 1px solid #fff;
    background: #f5f5f5;
    box-shadow: -4px -4px 14px rgba(255, 255, 255, 0.71), 0px 4px 4px rgba(192, 191, 191, 0.25);
    border-radius: 12px;

    &__title {
      font-size: 20px;
      line-height: 23px;
      text-transform: uppercase;
      padding-bottom: 10px;
      border-bottom: 1px solid $primary;
    }

    &__text {
      font-size: 14px;
      line-height: 16px;

      >div {
        margin-top: 16px;

        a {
          color: $accent;
        }
      }
    }
  }
}

// Dark mode

body.body--dark {
  .main-section {
    background: $gray-secondary;
    .q-card--dark {
      background: $primary;
    }
    &__block {
      background: $primary;
    }
  }
  .stakes-section {
    background: $primary;
  }
  .faq-section {
    color: $text-white;
    background: $primary;
    &__item {
      box-shadow: none;
      border: 1px solid $gray-secondary;
      background: $gray-secondary;

      &__title {
        border-bottom: 1px solid #F5F5F5;
      }
    }
  }
}