/*!
 * This file is part of the Web3 Library developed by mFactory GmbH.
 *
 * Copyright © 2021, mFactory GmbH
 *
 * Solana Reference Stake Pool is free software: you can redistribute it
 * and/or modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Solana Reference Stake Pool is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.
 * If not, see <https://www.gnu.org/licenses/agpl-3.0.html>.
 *
 * You can be released from the requirements of the Affero GNU General Public License
 * by purchasing a commercial license. The purchase of such a license is
 * mandatory as soon as you develop commercial activities using the
 * Solana Reference Stake Pool code without disclosing the source code of
 * your own applications.
 *
 * The developer of this program can be contacted at <info@mfactory.ch>.
 */

.stake-box {
  padding-bottom: 8px;
  width: 100%;
  .q-field__control {
    padding: 0 18px !important;
    border-radius: 8px;
  }
  .q-card__section {
    padding-bottom: 0;
    padding-top: 8px;
  }
  .q-field__native {
    padding-top: 8px;
    font-size: 27px;
    color: $text-white;
  }
  &__title {
    font-size: 13px;
    @media (max-width: $breakpoint-xs) {
      order: 2;
      width: 100%;
    }
  }
  &__sol-icon {
    width: 36px;
    margin-right: 12px;
    margin-left: 4px;
  }
  &__symbol {
    font-size: 18px;
    color: $text-white;
  }
  &__powered {
    &__line {
      height: 1px;
      flex-basis: 0;
      flex-grow: 1;
      background-color: #CFCFCF;
    }
    &__link {
      font-size: 10px;
      line-height: 12px;
      text-decoration-line: underline;
      color: $accent;
    }
  }
  ::placeholder {
    color: $text-white !important;
  }
  &__bottom-section {
    border-top: 1px solid $primary;
  }
  &__fee-info {
    font-size: 11px;
    line-height: 13px;
    color: $primary;

    @media (max-width: $breakpoint-xs) {
      width: 100%;
      margin-bottom: 8px;
      text-align: right;
    }
  }
  .q-btn {
    width: 100%;
  }
  &__slider {
    margin-top: 5px;
    padding: 0 28px 0 12px;
    position: relative;
    color: $primary;

    &__steps {
      font-size: 12px;
      margin-left: -5px;
      width: calc(100% + 20px);
      display: flex;
      justify-content: space-between;

      > span {
        margin-left: 9px;
        &:first-child,
        &:last-child {
          margin-left: 0;
        }
      }
    }
  }
}

// Dark mode

body.body--dark {
  .stake-box {
    color: $text-white;
    .q-field__native {
      color: $primary;
    }
    &__symbol {
      color: $primary;
    }
    ::placeholder {
      color: $primary !important;
    }
    &__bottom-section {
      color: $text-white;
    }
    &__fee-info {
      color: $text-white;
    }
    &__bottom-section {
      border-top: 1px solid $light-gray-natural;
    }
    &__slider {
      color: $text-white;
    }
  }
}