/*!
 * This file is part of the Web3 Library developed by mFactory GmbH.
 *
 * Copyright © 2021, mFactory GmbH
 *
 * Solana Reference Stake Pool is free software: you can redistribute it
 * and/or modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Solana Reference Stake Pool is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.
 * If not, see <https://www.gnu.org/licenses/agpl-3.0.html>.
 *
 * You can be released from the requirements of the Affero GNU General Public License
 * by purchasing a commercial license. The purchase of such a license is
 * mandatory as soon as you develop commercial activities using the
 * Solana Reference Stake Pool code without disclosing the source code of
 * your own applications.
 *
 * The developer of this program can be contacted at <info@mfactory.ch>.
 */

 .total-staked {
  position: relative;
  display: flex;

  &__logo {
    display: flex;
    align-items: center;
    padding: 0 4px 0 24px;

    @media (max-width: $breakpoint-sm) {
      padding: 0 4px 0 0;
    }

    .q-icon {
      width: 44px;
      height: 33px;
    }
  }
  &__value {
    font-weight: 500;
    height: 42px;
    padding: 0 24px 0 8px;
    color: $text-white;
    border-right: 1px solid $text-white;

    @media (max-width: $breakpoint-sm) {
      padding: 4px 8px 0 8px;
    }

    &:not(:last-child) {
      @media (min-width: $breakpoint-sm) {
        margin-right: 16px;
      }
    }
    &:last-child {
      @media (max-width: $breakpoint-sm) {
        border-right: 0;
      }
    }
  }
  &__label {
    text-transform: uppercase;
    font-size: 14px;
    @media (max-width: $breakpoint-sm) {
      font-size: 11px;
    }
  }
  &__sol {
    font-size: 16px;
    font-weight: 700;
    @media (max-width: $breakpoint-sm) {
      font-size: 14px;
    }
  }
}
