/*!
 * This file is part of the Web3 Library developed by mFactory GmbH.
 *
 * Copyright © 2021, mFactory GmbH
 *
 * Solana Reference Stake Pool is free software: you can redistribute it
 * and/or modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Solana Reference Stake Pool is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.
 * If not, see <https://www.gnu.org/licenses/agpl-3.0.html>.
 *
 * You can be released from the requirements of the Affero GNU General Public License
 * by purchasing a commercial license. The purchase of such a license is
 * mandatory as soon as you develop commercial activities using the
 * Solana Reference Stake Pool code without disclosing the source code of
 * your own applications.
 *
 * The developer of this program can be contacted at <info@mfactory.ch>.
 */

.validator-name {
  color: $text-white;
  &__logo {
    width: 56px;
    flex-basis: 56px;
    flex-grow: 0;
  }
  &__text {
    font-weight: 500;
    font-size: 16px;
    // overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-basis: 0;
    flex-grow: 1;

    @media (min-width: $breakpoint-sm) {
      max-width: 380px;
    }

    div {
      text-overflow: ellipsis;
      max-width: 100%;
      overflow: hidden;
    }
  }
  &__details {
    font-size: 10px;
    white-space: break-spaces;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }

  &__badges {
    top: -8px;
  
    &__item {
      height: 16px;
      font-size: 8px;
    }
  }
}

.q-tooltip {
  max-width: 320px !important;
}

// Dark mode

body.body--dark {
  .validator-item__address__text {
    color: $text-white;
  }
}