/*!
 * This file is part of Solana Reference Stake Pool code.
 *
 * Copyright © 2021, mFactory GmbH
 *
 * Solana Reference Stake Pool is free software: you can redistribute it
 * and/or modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Solana Reference Stake Pool is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.
 * If not, see <https://www.gnu.org/licenses/agpl-3.0.html>.
 *
 * You can be released from the requirements of the Affero GNU General Public License
 * by purchasing a commercial license. The purchase of such a license is
 * mandatory as soon as you develop commercial activities using the
 * Solana Reference Stake Pool code without disclosing the source code of
 * your own applications.
 *
 * The developer of this program can be contacted at <info@mfactory.ch>.
 */

.home-page {
  &__std-btn {
    font-weight: 400;
    height: 30px;
    min-height: 30px;
    padding: 4px 14px;
    line-height: 24px;
  }
  .wallet-balance {
    margin-bottom: 0;
  }
  .firstlook-section {
    padding-bottom: 0px;
    min-height: auto;
  }
}

.q-layout>.container {
  position: relative;
}

.validators-list {
  .q-field__native {
    font-size: 12px;
  }
  .q-field__control {
    height: 58px;
  }
  .q-field--float .q-field__label {
    color: $text-black;
    top: 6px;
  }
  &__no-validators {
    position: sticky;
    left: 0px;
    width: 990px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $breakpoint-sm) {
      width: 569px;
    }
    @media (max-width: $breakpoint-xs) {
      width: calc(100vw - 30px);
    }
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &__text {
      font-family: $font-secondary;
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      text-transform: uppercase;
      color: $primary;
      @media (max-width: $breakpoint-xs) {
        margin-bottom: 8px;
        width: 100%;
        text-align: center;
      }
    }
  }

  &__main {
    overflow-x: auto;
  }
  
  &__filters {
    background: $text-white;
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%);
    border-radius: 12px;
    padding: 16px 16px 8px 0;
  }

  &__dropdown-label {
    color: $primary;
    font-size: 12px;
  }

  &__search {
    width: 320px;
    max-width: 100%;
  }

  &__list {
    width: 990px !important;
    overflow-y: hidden;
    border-top: 1px solid $text-white;
    &--fix-height {
      height: 616px;
    }
    
    &__head {
      background: $primary;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      padding-top: 16px;
      color: #fff;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 990px !important;
      height: auto !important;

      & > div {
        height: 24px;
      }

      .validator-row__name {
        width: 366px;
        overflow: visible;
      }

      .validators-list__sorter {
        margin-top: 0;
        margin-bottom: 0;
      }

      .q-btn {
        font-size: 8px;
      }
    }
  }

  .main-section__block {
    width: 228px;
    max-width: 228px;
  }
}

.stake-accounts-container {
  &:not(:last-child) {
    border-bottom: 1px solid $blue-grey-5;
  }
}

.stake-stats {
  &:not(:first-child) {
    @media (min-width: $breakpoint-sm) {
      border-left: 1px solid $primary;
    }
  }

  &:not(:last-child) {
    @media (max-width: $breakpoint-sm) {
      margin-bottom: 16px;
    }
  }

  &__title {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  &__values {
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;

    &__sol {
      color: #000;
    }

    &__usd {
      color: $primary;
    }
  }
}

.validator-row {
  flex-wrap: nowrap;
  width: 958px;
  height: 106px;

  .q-avatar__content {
    text-align: center;

    svg {
      fill: $grey-4;
    }
  }
  
  &__stake-btn {
    height: 80px;
    width: 100px;
    line-height: 20px;
    border-radius: 12px;
  }

  &__index {
    width: 45px;
    border-right: 1px solid $light-gray;
    padding-right: 16px;
  }

  &__main-block {
    width: 634px;
  }

  &__logo {
    width: 60px;
    margin-top: 8px;
  }

  &__name {
    font-weight: 500;
    width: 229px;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-right: 1px solid $light-gray;
    padding-right: 16px;

    &.column div {
      text-overflow: ellipsis;
      max-width: 100%;
      overflow: hidden;
    }

    &__details {
      font-size: 10px;
      margin-top: 2px;
      white-space: break-spaces;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      display: -webkit-box;
    }
  }

  &__apy {
    width: 159px;
    font-weight: 500;
    align-items: flex-end;
    border-right: 1px solid $light-gray;
    padding-right: 16px;

    &__fee {
      font-size: 14px;
      line-height: 16px;
      color: $primary;

      span {
        font-size: 11px;
      }
    }

    &__val {
      font-size: 20px;
      color: $text-black;
    }
  }

  &__apy-chart {
    width: 170px;
  }

  &__stake {
    width: 135px;
    padding-right: 16px;

    &__sol {
      font-size: 15px;
      line-height: 17px;
      color: $almost-black;
      margin-bottom: 2px;

      &--my {
        border-top: 1px solid $gray-secondary;
        color: $gray-secondary;
      }
    }

    &__label {
      font-size: 10px;
    }
  }

  &__addresses {
    margin-top: -8px;
    margin-bottom: -9px;
  }
  &__address {
    &__text {
      font-size: 11px;
      width: 265px;
      display: inline-block;
      font-family: $font-monoscape;
      color: $dark;
      text-overflow: ellipsis;
      overflow: hidden;
      height: 18px;
      line-height: 28px;
    }
  }

  &__btns {
    border-left: 1px solid $light-gray;
    margin-left: auto;
    padding-left: 16px;
    width: 263px;

    &__stake {
      font-size: 12px;
    }
  }

  &__badges {
    top: -10px;
    left: -35px;
  }
  &__status-badge {
    height: 22px;
    padding-right: 4px;
  }
  .average-icon {
    height: 20px;
    width: 18px;
    margin: 0 -2px -2px;
  }

  .apy-chart {
    padding: 0;
    margin-top: -8px;
    margin-bottom: -8px;
    .q-icon {
      height: 50px;
      padding: 16px 0 8px;
    }
  }
}

// Dark mode

body.body--dark {
  .home-page {
    background: $gray-secondary;
  }
  .validators-list {
    &__title__text {
      color: $text-white;
    }
    &__list__head {
      background: $gray-dark-theme;
    }
    &__dropdown-label {
      color: $text-white;
    }
    .q-field--float .q-field__label {
      color: $text-white;
    }
    &__filters {
      background: $gray-dark-theme;
    }
  }
  .validator-row {
    &__apy {
      &__val {
        color: $text-white;
      }
      &__fee {
        color: $text-white;
      }
    }
    &__stake__sol {
      color: $text-white;
    }
    &__address {
      &__text {
        color: $text-white;
      }
    }
  }
  .stake-accounts-container {
    background: $gray-dark-theme;
  }
}