/*!
 * This file is part of the Web3 Library developed by mFactory GmbH.
 *
 * Copyright © 2021, mFactory GmbH
 *
 * Solana Reference Stake Pool is free software: you can redistribute it
 * and/or modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Solana Reference Stake Pool is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.
 * If not, see <https://www.gnu.org/licenses/agpl-3.0.html>.
 *
 * You can be released from the requirements of the Affero GNU General Public License
 * by purchasing a commercial license. The purchase of such a license is
 * mandatory as soon as you develop commercial activities using the
 * Solana Reference Stake Pool code without disclosing the source code of
 * your own applications.
 *
 * The developer of this program can be contacted at <info@mfactory.ch>.
 */

.home-page {
  &__std-btn {
    font-weight: 400;
    height: 30px;
    min-height: 30px;
    padding: 4px 14px;
    line-height: 24px;
    @media (max-width: $breakpoint-xs) {
      line-height: 14px;
      padding: 5px 17px 4px !important;
      height: 39px;
      border-radius: 12px;
      font-size: 12px;
    }
  }
  .wallet-balance {
    margin-bottom: 0;
  }
  .firstlook-section {
    padding-bottom: 0px;
    min-height: auto;
  }
}

.q-layout>.container {
  position: relative;
}

.validators-list {
  .q-field__native {
    font-size: 12px;
  }
  .q-field__control {
    height: 58px;
  }
  .q-field--float .q-field__label {
    color: $text-black;
    top: 6px;
  }
  &__no-validators {
    position: sticky;
    left: 0px;
    width: $row-width;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: $breakpoint-sm) {
      width: 569px;
    }
    @media (max-width: $breakpoint-xs) {
      width: calc(100vw - 30px);
    }
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &__text {
      font-family: $font-secondary;
      font-weight: 600;
      font-size: 22px;
      line-height: 27px;
      text-transform: uppercase;
      color: $primary;
      @media (max-width: $breakpoint-xs) {
        width: 100%;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }

  &__main {
    overflow-x: auto;
    @media (max-width: $breakpoint-xs) {
      margin-right: -15px !important;
      margin-left: -15px !important;
    }
  }
  
  &__filters {
    background: $text-white;
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%), 0 2px 2px rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%);
    border-radius: 12px;
    padding: 16px 16px 8px 0;

    >div {
      @media (max-width: $breakpoint-xs) {
        min-width: 92px;
      }
    }
  }

  &__dropdown-label {
    color: $primary;
    font-size: 12px;
  }

  &__search {
    width: 320px !important;
    max-width: 100%;
  }

  &__list {
    overflow-y: hidden;

    &__head {
      background: $primary;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
      padding-top: 16px;
      color: $text-white;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: auto !important;
      border-bottom: 1px solid #FFFFFF;

      & > div {
        height: 24px;
      }

      .validator-row__name {
        width: 305px;
        overflow: visible;
      }

      .validators-list__sorter {
        margin-top: 0;
        margin-bottom: 0;
      }

      .q-btn {
        font-size: 8px;
      }
    }
    &-desk {
      width: $row-width !important;
      &__head {
        width: $row-width !important;
      }
    }
    &-mob {
      &__head {
        color: $text-white !important;
        padding-left: 0;
        padding-right: 8px;
        .validator-row-mob__name {
          max-width: calc(100% - 269px);
          overflow: visible;
          @media (max-width: $breakpoint-xs) {
            max-width: calc(100% - 230px);
          }
          @media (max-width: 399px) {
            max-width: calc(100% - 195px);
          }
        }
      }
    }
  }

  .main-section__block {
    width: 228px;
    max-width: 228px;
  }

  .v-scroll-desk .q-virtual-scroll__content {
    width: $row-width;
  }
}

.stake-accounts-container {
  &:not(:last-child) {
    border-bottom: 1px solid $blue-grey-5;
  }
}

.stake-stats {
  &:not(:first-child) {
    @media (min-width: $breakpoint-sm) {
      border-left: 1px solid $primary;
    }
  }

  &:not(:last-child) {
    @media (max-width: $breakpoint-sm) {
      margin-bottom: 16px;
    }
  }

  &__title {
    font-family: $font-secondary;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }

  &__values {
    font-family: $font-secondary;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;

    &__sol {
      color: #000;
    }

    &__usd {
      color: $primary;
    }
  }
}

// Dark mode

body.body--dark {
  .home-page {
    background: $gray-secondary;
  }
  .validators-list {
    &__title__text {
      color: $text-white;
    }
    &__list__head {
      background: $gray-dark-theme;
    }
    &__dropdown-label {
      color: $text-white;
    }
    .q-field--float .q-field__label {
      color: $text-white;
    }
    &__filters {
      background: $gray-dark-theme;
    }
  }
  .stake-accounts-container {
    background: $gray-dark-theme;
  }
}