/*!
 * This file is part of the Web3 Library developed by mFactory GmbH.
 *
 * Copyright © 2021, mFactory GmbH
 *
 * Solana Reference Stake Pool is free software: you can redistribute it
 * and/or modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3
 * of the License, or (at your option) any later version.
 *
 * Solana Reference Stake Pool is distributed in the hope that it
 * will be useful, but WITHOUT ANY WARRANTY; without even the implied
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
 * See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.
 * If not, see <https://www.gnu.org/licenses/agpl-3.0.html>.
 *
 * You can be released from the requirements of the Affero GNU General Public License
 * by purchasing a commercial license. The purchase of such a license is
 * mandatory as soon as you develop commercial activities using the
 * Solana Reference Stake Pool code without disclosing the source code of
 * your own applications.
 *
 * The developer of this program can be contacted at <info@mfactory.ch>.
 */


.wallet {
  .btn {
    font-weight: 400;
    white-space: nowrap;

    svg {
      margin-top: -2px;
      height: 24px;
      margin-right: 12px;
    }
  }
}

.wallet-adapters {
  .btn {
    text-align: left;
    line-height: 40px;

    img {
      width: 40px;
      height: 40px;
      float: right;
    }
  }
}

// Wallet Balance
.wallet-balance {
  position: relative;
  width: 100%;
  // border: 1px solid #fff;

  .q-list--separator>.q-item-type+.q-item-type {
    border-top: 0;
  }

  .q-item:not(:first-child) {
    margin-top: 2px;
  }

  .q-btn__content {
    margin-top: 2px;
  }

  &__head {
    padding: 8px 24px;
    background: $primaryGradient;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    height: 42px;
    padding-top: 10px;
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &__loader {
      position: absolute;
      right: calc(50% - 18px);
    }
  }

  &__body {
    padding: 9px 16px;
    font-weight: 500;
    min-height: 58px;

    .q-item__label {
      display: flex;
      align-items: center;
      color: #000;
      font-size: 17px;

      svg,
      img {
        //height: 70%;
        height: 36px;
        width: 36px;
        margin-left: 10px;
      }

      span {
        text-align: right;
      }
    }
  }

  .balance__item {
    height: 42px;
  }

  .balance__value {
    text-align: right;
    font-size: 17px;
    line-height: 18px;
    color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__usd {
      color: $primary;
      font-size: 16px;
      line-height: 14px;
    }
  }

  .q-list--dense>.q-item,
  .q-item--dense {
    padding: 2px;
  }
}
